<footer id="footer">
  <div class="outer">
    <div id="footer-info">
		<div style='font-weight: bolder;font-size:14px;' class="footer-center">
					</br>
					<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
					
					<span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
					<span class="post-meta-divider">|</span>
					<span id="busuanzi_container_site_uv">本站访客数<span id="busuanzi_value_site_uv"></span>人</span></br>
		
			<a style='color:black'>© 2023 Strive-Man</a><a style='color:#e84393' href="http://beian.miit.gov.cn/">|豫ICP备2023021672号</a>
		</div>
	
      	<div style='font-weight: bolder;font-size:14px;' style="color:black" class="footer-center">
      		<a  style='color:black'  href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a style='color:black' href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a> by Litten
      	</div>
	
    </div>
  </div>
</footer>
